/* ---------------------------------------------------------------------- */

/* https://quarto.org/docs/output-formats/html-themes.html#sass-variables */
/* ---------------------------------------------------------------------- */


/*-- scss:defaults --*/

// Base document colors
$body-bg: #EAE9E1;
$body-color: #36383D;
$link-color: #945747;


/*-- scss:rules --*/

